* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "IBM Plex Serif", serif;
}

main {
    width: 100vw;
    height: 100vh;
    padding-top: 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fffeef;
    border: 0.2rem solid black;
}

ul {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    /* border: 1px solid black; */
}

.direction {
    font-size: 3rem;
}

.time {
    font-size: 2rem;
}

.bus--active {
    transform-origin: center;
    position: absolute;
    width: 4rem;
    height: 2rem;
    background: black;
    transition: all 3s;
    top: 60%;
    left: 130%;
}

.bus--turn--right {
    transform: rotateZ(90deg);
}
.bus--turn--back {
    transform: rotateZ(0deg);
}
.bus--turn--left {
    transform: rotateZ(-90deg);
}
.bus--turn--left--again {
    transform: rotateZ(-180deg);
}

.bus--first--stop {
    left: 70%;
}

.bus--second--stop {
    top: 20%;
}

.bus--third--stop {
    left: 20%;
}

.bus--fourth--stop {
    top: 60%;
}

.bus--final--stop {
    left: 50%;
}

.bus--out {
    left: 130%;
}
